<div class="card">
  <div class="card-body">
    <h5 class="title">
      <a [routerLink]="['tarea', tarea._id]">{{ tarea.titulo }}</a>
    </h5>
    <p>{{ tarea.descripcion }}</p>
    <p>{{ tarea.feCreacion | date: "dd/MM/yyyy" }}</p>
    <p *ngIf="tarea.asignado">{{ tarea.asignado.nombre }}</p>
    <p>{{ tarea.estado | estado: ["a", "a"] }}</p>
    <button
      *ngIf="tarea.estado == 'TO_DO'"
      class="btn btn-block btn-danger"
      (click)="cambiarAProgress()"
    >
      En progreso
    </button>
    <button
      *ngIf="tarea.estado == 'IN_PROGRESS'"
      class="btn btn-block btn-danger"
      (click)="cambiarAFinalizado()"
    >
      Finalizado
    </button>
  </div>
  <div *ngIf="tarea.estado == 'TO_DO'" class="card-footer text-muted">
    <button (click)="modificar()" type="button" class="btn btn-danger mr-2">
      <i class="fas fa-pencil-alt"></i>
    </button>
    <button (click)="eliminar()" type="button" class="btn btn-danger mr-2">
      <i class="fas fa-trash"></i>
    </button>
  </div>
</div>
